@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 align="left">Two-Gate Auth app</h2>
    <p class="lead">Application presents how can two-gate authentication be implemented using LDAP and local user database. </p>
</div>

